/* Google Font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* .navigation{
    height: 80px;
} */
.navbar-custom-icon{
    background-image: url(../icons/menu-2\ 1.svg);
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}


/* Carousel -Banner */
.carousel .carousel-item {
    max-height:584px;
}

.carousel-item img {
    object-fit:cover;
    max-height:584px;
}

.dark-overlay::after{

    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.4;
    z-index: 1;
}

.carousel-caption {
    top: 56%;
    transform: translateY(-50%);
    /* transform: translateX(20%); */
    /* bottom: initial; */
    z-index: 2;
    font-family: 'Poppins', sans-serif;
  }
  .carousel-caption h1{
      font-size: 4.5vw;
  }
  .carousel-caption p{
      font-size: 1.2vw;
  }

  .carousel-caption a{
    font-size: 15px;
}

 
.carousel-button
{

background-image: linear-gradient(45deg, #AA771C,#d48f18);
box-shadow: 3px 4px 0px 0px #976308; 

}
.carousel-button:hover
{
    background-image: linear-gradient(45deg, #af6f01,#e09006);
    font-weight: 600;
    box-shadow: 4px 5px 0px 0px #976308; 
}
.carousel-button:active
{
    background-image: linear-gradient(45deg, #af6f01,#e09006);
    font-weight: 400;
    box-shadow: 3px 3px 0px 0px #976308; 
}


.carousel-control-next-icon, .carousel-control-prev-icon {
    padding: 20px;
    
}

/* Products Card  */

.back
{
    background-image: url(../images/black-gold.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-left: 12px;
margin-right: 12px;   */
    
}
.theme-color{
    color: rgb(41, 25, 12);
}

.circle-bg{
    background-color: rgba(156, 114, 71, 0.151);
}

.card-border{

    border-radius: 26px;
    box-shadow: 0px 42px 34px 0px #85492140;
    
}
.card-font-style
{
    font-family: 'Roboto', sans-serif;
}
.card-badge{
    top: 0;
    left: 90%;
    
}

