/* Google Font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.navbar-custom-icon{
    background-image: url(../icons/menu-2\ 1.svg);
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

